# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.log

# Node
node_modules/
dist/
.vite/

# Env
.env
.env.local
*.env

# Logs
backend/logs/*
!backend/logs/.gitkeep

# Uploaded files
backend/app/static/uploads/*
!backend/app/static/uploads/.gitkeep

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Testing
.coverage
htmlcov/
.pytest_cache/

# DB
*.sqlite3
*.db
